@import "tachyons";
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.center{
  display: flex;
  justify-content: center;
}

.button {
  cursor: pointer;
}

.particles{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}